* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: white;

}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;

}

form{
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background:rgb(225, 166, 166) ;
    display: flex;
    align-items: center;
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 0 30px;

}

form button{
    padding: 0 40px;
    height: 100%;
    cursor: pointer;
    background: #2136f4;
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    outline: 0;
    border: 0;
    font-size: 18px;

}

::placeholder{
    color: white;
    font-size: 18px;

}

#show-more-btn{
    background: rgb(91, 56, 247);
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    display: block;
    cursor: pointer;
    display: none;   
}